Datos/Web References/WS_PCA/API_MostrarServicioPCA.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="mostrarServicio">
        <s:complexType />
      </s:element>
      <s:element name="mostrarServicioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mostrarServicioResult" type="tns:Servicio" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Servicio">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Descripcion" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="mostrarPagosPCAs">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cedula" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mostrarPagosPCAsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mostrarPagosPCAsResult" type="tns:ArrayOfMostrarPagosPCA" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfMostrarPagosPCA">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MostrarPagosPCA" nillable="true" type="tns:MostrarPagosPCA" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MostrarPagosPCA">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="cedula" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cod_pago" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="monto" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="estado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nServicio" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ActualizarEstado">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cod_pago" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarEstadoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ActualizarEstadoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="mostrarServicioSoapIn">
    <wsdl:part name="parameters" element="tns:mostrarServicio" />
  </wsdl:message>
  <wsdl:message name="mostrarServicioSoapOut">
    <wsdl:part name="parameters" element="tns:mostrarServicioResponse" />
  </wsdl:message>
  <wsdl:message name="mostrarPagosPCAsSoapIn">
    <wsdl:part name="parameters" element="tns:mostrarPagosPCAs" />
  </wsdl:message>
  <wsdl:message name="mostrarPagosPCAsSoapOut">
    <wsdl:part name="parameters" element="tns:mostrarPagosPCAsResponse" />
  </wsdl:message>
  <wsdl:message name="ActualizarEstadoSoapIn">
    <wsdl:part name="parameters" element="tns:ActualizarEstado" />
  </wsdl:message>
  <wsdl:message name="ActualizarEstadoSoapOut">
    <wsdl:part name="parameters" element="tns:ActualizarEstadoResponse" />
  </wsdl:message>
  <wsdl:portType name="API_MostrarServicioPCASoap">
    <wsdl:operation name="mostrarServicio">
      <wsdl:input message="tns:mostrarServicioSoapIn" />
      <wsdl:output message="tns:mostrarServicioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="mostrarPagosPCAs">
      <wsdl:input message="tns:mostrarPagosPCAsSoapIn" />
      <wsdl:output message="tns:mostrarPagosPCAsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarEstado">
      <wsdl:input message="tns:ActualizarEstadoSoapIn" />
      <wsdl:output message="tns:ActualizarEstadoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="API_MostrarServicioPCASoap" type="tns:API_MostrarServicioPCASoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="mostrarServicio">
      <soap:operation soapAction="http://tempuri.org/mostrarServicio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mostrarPagosPCAs">
      <soap:operation soapAction="http://tempuri.org/mostrarPagosPCAs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarEstado">
      <soap:operation soapAction="http://tempuri.org/ActualizarEstado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="API_MostrarServicioPCASoap12" type="tns:API_MostrarServicioPCASoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="mostrarServicio">
      <soap12:operation soapAction="http://tempuri.org/mostrarServicio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mostrarPagosPCAs">
      <soap12:operation soapAction="http://tempuri.org/mostrarPagosPCAs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarEstado">
      <soap12:operation soapAction="http://tempuri.org/ActualizarEstado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="API_MostrarServicioPCA">
    <wsdl:port name="API_MostrarServicioPCASoap" binding="tns:API_MostrarServicioPCASoap">
      <soap:address location="http://172.16.0.58:5022/API_MostrarServicioPCA.asmx" />
    </wsdl:port>
    <wsdl:port name="API_MostrarServicioPCASoap12" binding="tns:API_MostrarServicioPCASoap12">
      <soap12:address location="http://172.16.0.58:5022/API_MostrarServicioPCA.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>