Datos/Web References/WS_PRJ/Api_Integracion.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="MostrarPagos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cedula" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MostrarPagosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MostrarPagosResult" type="tns:ArrayOfDTOPago" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDTOPago">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DTOPago" nillable="true" type="tns:DTOPago" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DTOPago">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Cedula" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Cod_Pago" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Monto" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="Estado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nServicio" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="mostrarServicio">
        <s:complexType />
      </s:element>
      <s:element name="mostrarServicioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mostrarServicioResult" type="tns:Servicio" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Servicio">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Descripcion" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ActualizarEstado">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="codpago" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarEstadoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ActualizarEstadoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="MostrarPagosSoapIn">
    <wsdl:part name="parameters" element="tns:MostrarPagos" />
  </wsdl:message>
  <wsdl:message name="MostrarPagosSoapOut">
    <wsdl:part name="parameters" element="tns:MostrarPagosResponse" />
  </wsdl:message>
  <wsdl:message name="mostrarServicioSoapIn">
    <wsdl:part name="parameters" element="tns:mostrarServicio" />
  </wsdl:message>
  <wsdl:message name="mostrarServicioSoapOut">
    <wsdl:part name="parameters" element="tns:mostrarServicioResponse" />
  </wsdl:message>
  <wsdl:message name="ActualizarEstadoSoapIn">
    <wsdl:part name="parameters" element="tns:ActualizarEstado" />
  </wsdl:message>
  <wsdl:message name="ActualizarEstadoSoapOut">
    <wsdl:part name="parameters" element="tns:ActualizarEstadoResponse" />
  </wsdl:message>
  <wsdl:portType name="Api_IntegracionSoap">
    <wsdl:operation name="MostrarPagos">
      <wsdl:input message="tns:MostrarPagosSoapIn" />
      <wsdl:output message="tns:MostrarPagosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="mostrarServicio">
      <wsdl:input message="tns:mostrarServicioSoapIn" />
      <wsdl:output message="tns:mostrarServicioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarEstado">
      <wsdl:input message="tns:ActualizarEstadoSoapIn" />
      <wsdl:output message="tns:ActualizarEstadoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Api_IntegracionSoap" type="tns:Api_IntegracionSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MostrarPagos">
      <soap:operation soapAction="http://tempuri.org/MostrarPagos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mostrarServicio">
      <soap:operation soapAction="http://tempuri.org/mostrarServicio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarEstado">
      <soap:operation soapAction="http://tempuri.org/ActualizarEstado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Api_IntegracionSoap12" type="tns:Api_IntegracionSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MostrarPagos">
      <soap12:operation soapAction="http://tempuri.org/MostrarPagos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mostrarServicio">
      <soap12:operation soapAction="http://tempuri.org/mostrarServicio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarEstado">
      <soap12:operation soapAction="http://tempuri.org/ActualizarEstado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Api_Integracion">
    <wsdl:port name="Api_IntegracionSoap" binding="tns:Api_IntegracionSoap">
      <soap:address location="http://172.16.0.58:5011/Api_Integracion.asmx" />
    </wsdl:port>
    <wsdl:port name="Api_IntegracionSoap12" binding="tns:Api_IntegracionSoap12">
      <soap12:address location="http://172.16.0.58:5011/Api_Integracion.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>