Datos/Web References/WS_MQUPGA/API_MDP.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Mandardatos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cedula" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MandardatosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MandardatosResult" type="tns:ArrayOfSP_DatosClientePagosPendientes_Result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSP_DatosClientePagosPendientes_Result">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SP_DatosClientePagosPendientes_Result" nillable="true" type="tns:SP_DatosClientePagosPendientes_Result" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SP_DatosClientePagosPendientes_Result">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Cedula" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CodigoPago" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Monto" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="EstadoPago" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Servicio" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="MandardatosSoapIn">
    <wsdl:part name="parameters" element="tns:Mandardatos" />
  </wsdl:message>
  <wsdl:message name="MandardatosSoapOut">
    <wsdl:part name="parameters" element="tns:MandardatosResponse" />
  </wsdl:message>
  <wsdl:portType name="API_MDPSoap">
    <wsdl:operation name="Mandardatos">
      <wsdl:input message="tns:MandardatosSoapIn" />
      <wsdl:output message="tns:MandardatosSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="API_MDPSoap" type="tns:API_MDPSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Mandardatos">
      <soap:operation soapAction="http://tempuri.org/Mandardatos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="API_MDPSoap12" type="tns:API_MDPSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Mandardatos">
      <soap12:operation soapAction="http://tempuri.org/Mandardatos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="API_MDP">
    <wsdl:port name="API_MDPSoap" binding="tns:API_MDPSoap">
      <soap:address location="http://172.16.7.7:5051/API_MDP.asmx" />
    </wsdl:port>
    <wsdl:port name="API_MDPSoap12" binding="tns:API_MDPSoap12">
      <soap12:address location="http://172.16.7.7:5051/API_MDP.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>