Datos/Web References/WS_PDT/API_MostrarPagoPDT.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="MostrarPagosPDTPorCI">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CI" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MostrarPagosPDTPorCIResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MostrarPagosPDTPorCIResult" type="tns:ArrayOfMostrarPagosPDT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfMostrarPagosPDT">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MostrarPagosPDT" nillable="true" type="tns:MostrarPagosPDT" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MostrarPagosPDT">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="cedula" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cod_pago" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="monto" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="estado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nServicio" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ActualizarEstado">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cod_pago" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarEstadoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ActualizarEstadoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mostrarServicios">
        <s:complexType />
      </s:element>
      <s:element name="mostrarServiciosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mostrarServiciosResult" type="tns:ServicioDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ServicioDTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Descripcion" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="MostrarPagosPDTPorCISoapIn">
    <wsdl:part name="parameters" element="tns:MostrarPagosPDTPorCI" />
  </wsdl:message>
  <wsdl:message name="MostrarPagosPDTPorCISoapOut">
    <wsdl:part name="parameters" element="tns:MostrarPagosPDTPorCIResponse" />
  </wsdl:message>
  <wsdl:message name="ActualizarEstadoSoapIn">
    <wsdl:part name="parameters" element="tns:ActualizarEstado" />
  </wsdl:message>
  <wsdl:message name="ActualizarEstadoSoapOut">
    <wsdl:part name="parameters" element="tns:ActualizarEstadoResponse" />
  </wsdl:message>
  <wsdl:message name="mostrarServiciosSoapIn">
    <wsdl:part name="parameters" element="tns:mostrarServicios" />
  </wsdl:message>
  <wsdl:message name="mostrarServiciosSoapOut">
    <wsdl:part name="parameters" element="tns:mostrarServiciosResponse" />
  </wsdl:message>
  <wsdl:portType name="API_MostrarPagoPDTSoap">
    <wsdl:operation name="MostrarPagosPDTPorCI">
      <wsdl:input message="tns:MostrarPagosPDTPorCISoapIn" />
      <wsdl:output message="tns:MostrarPagosPDTPorCISoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarEstado">
      <wsdl:input message="tns:ActualizarEstadoSoapIn" />
      <wsdl:output message="tns:ActualizarEstadoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="mostrarServicios">
      <wsdl:input message="tns:mostrarServiciosSoapIn" />
      <wsdl:output message="tns:mostrarServiciosSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="API_MostrarPagoPDTSoap" type="tns:API_MostrarPagoPDTSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MostrarPagosPDTPorCI">
      <soap:operation soapAction="http://tempuri.org/MostrarPagosPDTPorCI" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarEstado">
      <soap:operation soapAction="http://tempuri.org/ActualizarEstado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mostrarServicios">
      <soap:operation soapAction="http://tempuri.org/mostrarServicios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="API_MostrarPagoPDTSoap12" type="tns:API_MostrarPagoPDTSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MostrarPagosPDTPorCI">
      <soap12:operation soapAction="http://tempuri.org/MostrarPagosPDTPorCI" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarEstado">
      <soap12:operation soapAction="http://tempuri.org/ActualizarEstado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mostrarServicios">
      <soap12:operation soapAction="http://tempuri.org/mostrarServicios" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="API_MostrarPagoPDT">
    <wsdl:port name="API_MostrarPagoPDTSoap" binding="tns:API_MostrarPagoPDTSoap">
      <soap:address location="http://172.16.0.58:5020/API_MostrarPagoPDT.asmx" />
    </wsdl:port>
    <wsdl:port name="API_MostrarPagoPDTSoap12" binding="tns:API_MostrarPagoPDTSoap12">
      <soap12:address location="http://172.16.0.58:5020/API_MostrarPagoPDT.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>