Datos/Web References/no/APIMQU_MD.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Mandardatos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cedula" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pagoid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MandardatosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MandardatosResult" type="tns:ArrayOfSP_DatosClientePago_Result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSP_DatosClientePago_Result">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SP_DatosClientePago_Result" nillable="true" type="tns:SP_DatosClientePago_Result" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SP_DatosClientePago_Result">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Cedula" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CodigoPago" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Monto" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="Servicio" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Mostrarpagosxusuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cedula" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MostrarpagosxusuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MostrarpagosxusuarioResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="MandardatosSoapIn">
    <wsdl:part name="parameters" element="tns:Mandardatos" />
  </wsdl:message>
  <wsdl:message name="MandardatosSoapOut">
    <wsdl:part name="parameters" element="tns:MandardatosResponse" />
  </wsdl:message>
  <wsdl:message name="MostrarpagosxusuarioSoapIn">
    <wsdl:part name="parameters" element="tns:Mostrarpagosxusuario" />
  </wsdl:message>
  <wsdl:message name="MostrarpagosxusuarioSoapOut">
    <wsdl:part name="parameters" element="tns:MostrarpagosxusuarioResponse" />
  </wsdl:message>
  <wsdl:portType name="APIMQU_MDSoap">
    <wsdl:operation name="Mandardatos">
      <wsdl:input message="tns:MandardatosSoapIn" />
      <wsdl:output message="tns:MandardatosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Mostrarpagosxusuario">
      <wsdl:input message="tns:MostrarpagosxusuarioSoapIn" />
      <wsdl:output message="tns:MostrarpagosxusuarioSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="APIMQU_MDSoap" type="tns:APIMQU_MDSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Mandardatos">
      <soap:operation soapAction="http://tempuri.org/Mandardatos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Mostrarpagosxusuario">
      <soap:operation soapAction="http://tempuri.org/Mostrarpagosxusuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="APIMQU_MDSoap12" type="tns:APIMQU_MDSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Mandardatos">
      <soap12:operation soapAction="http://tempuri.org/Mandardatos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Mostrarpagosxusuario">
      <soap12:operation soapAction="http://tempuri.org/Mostrarpagosxusuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="APIMQU_MD">
    <wsdl:port name="APIMQU_MDSoap" binding="tns:APIMQU_MDSoap">
      <soap:address location="http://172.16.7.7:5051/APIMQU_MD.asmx" />
    </wsdl:port>
    <wsdl:port name="APIMQU_MDSoap12" binding="tns:APIMQU_MDSoap12">
      <soap12:address location="http://172.16.7.7:5051/APIMQU_MD.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>